body {
  margin: 0;
  background-color: black;
  color: white;
  font-family: 'Arial', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 100vh;
}

canvas {
  z-index: 0; /* Place canvas below text */
}

button {
  font-size: 1em;
  padding: 0.5em 1em;
  cursor: pointer;
  margin-top: 10px; /* Adjust as needed */
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#canvas-container {
  display: inline-block; /* Aligns the canvas with the text */
}
